<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926846771802-ip3crqgv98p2hk95r4flgeego1d9a937.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926846771802-ip3crqgv98p2hk95r4flgeego1d9a937</string>
	<key>API_KEY</key>
	<string>AIzaSyANGR-l21mc-uXzWFRUzm_bQSOtAV72Dto</string>
	<key>GCM_SENDER_ID</key>
	<string>926846771802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialwall</string>
	<key>PROJECT_ID</key>
	<string>socialwall-fcc35</string>
	<key>STORAGE_BUCKET</key>
	<string>socialwall-fcc35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926846771802:ios:155e29cf8fcf10d4336e63</string>
</dict>
</plist>